
    .cnt {
        margin-top: 200px;
        margin-bottom: 200px;
      } 
      a:link {
        color: green;
        background-color: transparent;
        text-decoration: none;
      }
      
      a:visited {
        color: pink;
        background-color: transparent;
        text-decoration: none;
      }
      
      a:hover {
        color: red;
        background-color: transparent;
        text-decoration: underline;
      }
      
      a:active {
        color: yellow;
        background-color: transparent;
        text-decoration: underline;
      }
      .bl{
        text-decoration-color: blue;
      }
